select::-ms-expand {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

body {
  overflow-x: hidden;
}

.tooltip {
  margin-bottom: 4px;
  font-size: 0.8rem;
  color: #fff;
  padding: 8px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
